{% extends "base.html" %}
{% block title %}Contact{% endblock %}
{% set active_page = "contact" -%}
{% block body %}

<div class="container">
 <div class="px-3 py-3 pt-md-2 pb-md-1 mx-auto">
 <h1 class="display-4">Here you go! <br> Choose which way you want contact with me.
 </h1>
<div class="address">
 <div class="px-3 py-3 pt-md-2 pb-md-1 mx-auto text-left">
  <p style="font-size:18px">
 Send e-mail: <a href="mailto:piastapiotr010@gmail.com?subject=Hello!">piastapiotr010@gmail.com</a>.<br>
 Call me: 333333333<br>
 <br>Fabryczna 29/31, 53-609 Wrocław<br>
 Poland
  </p>
 <br>
  <div class="container">

   <iframe src="
 https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d10018.916470001503!2d16.972975851552178!3d51.
 11345784388711!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x470fc1e4c99aaef9%3A0x85fe93874cd94d47!
 2sWy%C5%BCsza%20Szko%C5%82a%20Bankowa%20we%20Wroc%C5%82awiu!5e0!3m2!1spl!2spl!4v1652358176129!5m2!1spl!
 2spl" width="1000" height="350" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">
 </iframe>
</div>
</div>
<div class="container">
 <div class="px-3 py-3 pt-md-4 pb-md-4 mx-auto">
  <h1 class="display-4">Contact Page</h1>
 <p class="lead">It will be my pleasure to answer your questions.</p>
 </div>

{% endblock %}